<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Monthly" value="true"/>
    <add key="Weekly" value="Monday"/>
    <add key="WeekParts" value="false"/>
    <add key="EveryWeekDay" value="true"/>
    <add key="ShowDayOfWeek" value="true"/>
  </appSettings>
</configuration>
